
gruntOrange = #E48632
darkGruntOrange = darken(gruntOrange, 15)
lightGruntOrange = rgb(255, 207, 121)

html, body, #popup
  padding 0
  margin 0
  width 100%
  height 100%
  background gruntOrange
  color #FFF
  font-family 'Pathway Gothic One', sans-serif
  cursor wait
  word-break break-word
body.loaded
  cursor initial
[ng-click]
  cursor pointer

.ui.segment
  color #333

.ui.inverted.grunt-orange.segment
  background-color darkGruntOrange !important

a
  color inherit
  text-decoration none

div,svg
  transition all 0.3s linear

a.fork
  opacity 0.5

.loading
  font-size 30pt

@import "app/sidebar.styl"
@import "app/main.styl"

#popup
  text-align center
  padding-top 60px
  position fixed
  z-index 1
  background rgba(20, 20, 20, 0.9)
  top 0
  left 0
  transition opacity 1s ease-out
  opacity 0
  display none

  &.active
    display block
    opacity 1

  #link-title
    font-size 60pt
  #link-url
    font-size 40pt
    




