doctype html
html
  head
    title Getting Started with Grunt
    script.
      window.GoogleAnalyticsObject = 'ga';
      window.ga = window.ga || function () {
          (window.ga.q = window.ga.q || []).push(arguments)
      }, window.ga.l = 1 * new Date();

    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/x-icon", href=showFile("src/views/grunt.ico"))
    link(href='css/PathwayGothicOne.css', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/app.css")
    style.
      html { color: #fff }
      [ng-cloak] { display: none }

  body(ng-app="gswg", ng-class="{loaded:loaded}")

    include app/sidebar
    include app/main

    #popup
      .loading Loading...
      #link-title
      #link-url

    script!= "window.LINKS = "+showFile("links.json")
    script(src="//www.google-analytics.com/analytics.js")
    script(src="js/app.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js", defer)
